@using RediscussMvcUI.Areas.Admin.Models
@model List<PostItem>
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section customStyles{
	<link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


}

@section customScripts{
	<script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="~/admin/plugins/jszip/jszip.min.js"></script>
	<script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

	<script src="~/admin/plugins/sweetalert2/sweetalert2.all.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#example1").DataTable({
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
				},
				order: [
					[2, 'asc']
				],
				"lengthChange": false,
				"paging": false,
				"buttons": ["excel", "pdf"]
			}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');



		});


		$(".btnDelete").click(function () {
			var subredisId = $(this).attr("subredisId");
			Swal.fire({
				title: 'Are you sure?',
				text: "The deletion process cannot be undone!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Delete!',
				cancelButtonText: 'Cancel!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: "/Admin/Subredis/Delete/" + subredisId,
						method: "post",
						datatype: "json",
						success: function (response) {
							if (response.isSuccess) {
								Swal.fire('Operation Successful', response.message, 'success');
							}
							else {
								var errors = "";
								for (var i = 0; i < response.errorMessages.length; i++) {
									errors += response.errorMessages[i] + "<br/>";
								}
								Swal.fire('Operation Unsuccessful', response.message + "<br/>" + errors, 'error');
							}
						}
					});
					Swal.fire('Operation Completed Successfully!', '', 'success')
				} else if (result.isDenied) {
					Swal.fire('Operation Canceled', '', 'info')
				}
			})
		});
	</script>
}

<div class="row">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3">User Management</h3>
				<ul class="nav nav-pills ml-auto p-2">
					<li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Liste</a></li>
					<li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Urun Ekle</a></li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>PostId</th>
									<th>Post Title</th>
									<th>Post Body</th>
									<th>CreatedAt</th>
									<th>Posted By</th>
									<th>Subredis Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@if (item.PostImage != null)
											{
												<img src='@($"data:image/jpeg;base64,{item.PostImage}")' style="width:150px;" />
											}
											else
											{
												<img src="~/tempfiles/noImage.png" style="width:150px;" />
											}
										</td>
										<td>
											@item.PostId
										</td>
										<td>@item.PostTitle</td>
										<td>@item.PostBody</td>
										<td>@item.CreatedAt</td>
										<td>@item.PostedBy</td>
										<td>@item.SubredisName</td>
										<td>
											<button subredisId="@item.SubredisId" type="button" class="btn btn-danger btnEdit">Sil</button>
										</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									<th>#</th>
									<th>PostId</th>
									<th>Post Title</th>
									<th>Post Body</th>
									<th>CreatedAt</th>
									<th>Posted By</th>
									<th>Subredis Name</th>
									<th></th>
								</tr>
							</tfoot>
						</table>

					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_2">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Kategori Ekle</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form>
								<div class="card-body">
									<div class="form-group">
										<label for="txtCategoryName">Adi</label>
										<input type="text" class="form-control" id="txtCategoryName" placeholder="Kategori adi giriniz">
									</div>
									<div class="form-group">
										<label for="txtCategoryDescription">Aciklama</label>
										<textarea id="txtCategoryDescription" class="form-control"></textarea>
									</div>
									<div class="form-group">
										<label for="exampleInputFile">Resim</label>
										<div class="input-group">
											<div class="custom-file">
												<input type="file" class="custom-file-input" id="fuCategoryPhoto">
												<label class="custom-file-label" for="fuCategoryPhoto">Dosya Seciniz</label>
											</div>
										</div>
									</div>
								</div>
								<!-- /.card-body -->

								<div class="card-footer">
									<button id="btnSave" type="button" class="btn btn-primary">Save</button>
									<button id="btnClear" type="reset" style="display: none;"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>
